.venv
venv
ENV
env
__pycache__
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.git
.gitignore
.dockerignore
Dockerfile
*.sqlite3
.env
.env.*
!.env.example
